/AntennaDataToDatabase.opensdf
/AntennaDataToDatabase.sdf
/AntennaDataToDatabase.v12.suo
/AntennaDataToDatabase/Debug/
/AntennaDataToDatabase/Release/
/AntennaDataToDatabase/GeneratedFiles/
/AntennaDataToDatabase/Options.ini
/AntennaDataToDatabase/Test1/
/AntennaDataToDatabase/Test5/
/AntennaDataToDatabase/Test7/
/AntennaDataToDatabase/Win32/
/AntennaDataToDatabaseCmd/Debug/
/AntennaDataToDatabaseCmd/Options.ini
/AntennaDataToDatabaseCmd/Release/
/AntennaDataToDatabaseCmd/Win32/
/AntennaDataToDatabaseCore/Debug/
/AntennaDataToDatabaseCore/Release/
/AntennaDataToDatabaseCore/Options.ini
/AntennaDataViewer/Debug/
/AntennaDataViewer/GeneratedFiles/
/AntennaDataViewer/Options.ini
/AntennaDataViewer/Release/
/AntennaDataViewer/Win32/
/CopyDB/Options.ini
/CopyDB/Win32/
/CopyDB/Debug/
/CopyDB/Release/
/lib
/lib/AntennaDataToDatabaseCore32.exp
/lib/AntennaDataToDatabaseCore32.pdb
/lib/AntennaDataToDatabaseCore32.dll
/lib/AntennaDataToDatabaseCore32.lib
/lib/AntennaDataToDatabaseCore32d.exp
/lib/AntennaDataToDatabaseCore32d.ilk
/lib/AntennaDataToDatabaseCore32d.pdb
/lib/AntennaDataToDatabaseCore32d.pdb
/lib/AntennaDataToDatabaseCore32d.dll
/lib/AntennaDataToDatabaseCore32d.lib
