/AntennaDataToDatabase/Debug/
/AntennaDataToDatabase/Release/
/AntennaDataToDatabase/GeneratedFiles/
/AntennaDataToDatabase.sdf
/AntennaDataToDatabase.v12.suo
/AntennaDataToDatabase/Options.ini
/AntennaDataToDatabase/Test5/
/AntennaDataToDatabase/Test7/
/AntennaDataToDatabase/Win32/
/AntennaDataToDatabaseCmd/Debug/
/AntennaDataToDatabaseCmd/Options.ini
/AntennaDataToDatabaseCmd/Release/
/AntennaDataToDatabaseCmd/Win32/
/AntennaDataToDatabaseCore/Debug/
/AntennaDataToDatabaseCore/Release/
/AntennaDataViewer/Debug/
/AntennaDataViewer/GeneratedFiles/
/AntennaDataViewer/Options.ini
/AntennaDataViewer/Release/
/AntennaDataViewer/Win32/
/AntennaDataViewer/antennadataviewer.qrc
/CopyDB/Options.ini
/CopyDB/Win32/
/lib/AntennaDataToDatabaseCore32.exp
/lib/AntennaDataToDatabaseCore32.pdb
/lib/AntennaDataToDatabaseCore32d.exp
/lib/AntennaDataToDatabaseCore32d.ilk
/lib/AntennaDataToDatabaseCore32d.pdb
/lib/AntennaDataToDatabaseCore32d.pdb
